body {
	background-image: url("background.jpg");
	font-family: arial;
	background-repeat: repeat;
}

p {
	color:red;
	display: inline;
}

h1 {
	color:red;
	text-align:center;
	font-size:45px;
}

ul {
	list-style:none;
}

li {
	display:inline;
}

a {
	text-decoration:none;
}

.nav_bar {
	text-align:center;
	font-size: 30px;
}

img {
	display:inline-block;
	border-radius: 50px;
}